#root {
  min-height: 100%;
  position: relative;
}
.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
}

.game {
  width: 50%;
  height: 80%;
  background-color: #5e738c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 12.5%;
  height: 12.5%;
  touch-action: none;
}

.sidebar {
  width: 10%;
  height: 100%;
  opacity: 0.8;
  background-color: #ff595e;
  color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.sidebarLeft {
  border-right: solid #333 7px;
  left: 0;
}
.sidebarRight {
  border-left: solid #333 7px;
  right: 0;
}

.life-bar-container {
  width: 10%;
  height: 80%;
  border: solid #fff 2px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-color: #fff;
}
.life-bar {
  background-color: #023e8a;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.red {
  background-color: red;
}
.full {
  border-radius: 20px 20px 0 0;
}
.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  display: flex;
  z-index: 11;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 80%;
  height: 80%;
  background-color: #222;
  position: absolute;
  z-index: 10;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#portal-modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
}
.gameOver-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  word-wrap: break-word;
}
.gameOver-container span {
  color: #ff595e;
  padding: 5px;
}
.gameOver-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

@media only screen and (max-width: 1050px) {
  .game {
    height: 65%;
  }
}

@media only screen and (max-width: 850px) {
  .game {
    height: 60%;
  }
}
@media only screen and (max-width: 725px) {
  .game {
    height: 50%;
  }
  .sidebar {
    width: 100%;
    height: 10%;
  }
  .sidebarLeft {
    border-bottom: solid #333 7px;
    top: 0;
    border-right: 0;
    flex-direction: row;
  }
  .sidebarRight {
    border-top: solid #333 7px;
    border-left: 0;
    bottom: 0;
    top: auto;
  }
  .life-bar-container {
    height: 20%;
    width: 80%;
    border-radius: 0px 20px 20px 0;
  }
  .life-bar {
    top: 0;
    bottom: auto;
    height: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .game {
    width: 80%;
  }

  .gameOver-container span {
    font-size: 1rem;
  }
  .gameOver-container h2 {
    font-size: 0.8rem;
  }
  .gameOver-container h1 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 380px) {
  .game {
    height: 40%;
  }
  .gameOver-buttons {
    flex-direction: column;
  }
}
