* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.562), transparent),
    url(./assets/bg.jpg);
  background-size: cover;
  object-fit: contain;
  font-family: "Orbitron", sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
